*{
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    max-width: 1100px;
    margin: 0px auto;
}
.row{
    width: 100%;
}
.heading-1{
    font-size: large;
    border-bottom: 1px dotted black;
}

.create-job{
    background-color: rgb(196, 186, 186);
    padding: 5px 0px;
}
.form-group{
    margin-bottom: 3px;
}

.form-group>label{
    width: 15%;
    display: inline-block;
    text-align: right;
}

.form-control{
    border: none;
    outline: none;
    padding: 5px 5px;
    width: 250px;
    border-radius: 3px;
}

.btn{
    border: none;
    outline: none;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}



.table{
    width: 100%;
    border-collapse: collapse;
}

.thead-dark{
    background-color: rgb(56, 52, 52);
    color:white
}

.thead-dark>tr>th:not(:last-child){
    padding: 10px 0px;
}

.table-bordered>tbody td{
    padding: 9px 0px;
}
.table-bordered>tbody tr:nth-child(odd){
    background-color: rgb(202, 186, 186);
}

.table-hover>tbody tr:hover{
    background-color: rgb(145, 135, 135);
    cursor: pointer;
}

.danger{
    color:#dc3545
}